body{
    width: 1500px;
}
nav#nav{
    height: 70px;
    background-color: brown;
}
ul{
    list-style-type: none;
}
ul#ul1{
    
    float: right;
}
li.nav{
    display: inline;

}
div#contenedor{
    margin-top: 70px;
    background-color: cornflowerblue;
    width: 1350px;
    margin-left: 75px;
    height: 400px;


}
div#subcontenedor1{
    background-color: rgb(29, 54, 102);
    width: 268px; /*268 +2 px de border izquierdo y derecho*/
    border: 1px solid black;
    float: left;
    height: 400px;

}
p.span1{
    background-color: beige;
    width: 130px; /*130 +20 del padding*/
    padding-left: 20px;
}
li.opc2{
    margin-left: 20px;
}
div#subcontenedor2{
    background-color: rgb(114, 31, 115);
    width: 1078px; /*1078 +2 px de border izquierdo y derecho*/
    border: 1px solid black;
    float: left;
    height: 400px;
}
h1{
    margin-left: 25px;
}
form{
    margin-left: 150px;
}
input{
    padding-left:20px ;
    width: 100px;
}



button{
    width: 60px;
    margin-left: 30px;
}